
.profile-part, .profile-part1{
    border : 1px solid #e0e0e0;
  }
  .profile-part p {
   padding: 8px;
   font-size: 18px;
   padding: 20px 14px 20px 14px;
  }
  .profile-part1{
    margin-top: 20px;
  }
  .profile-part1 p {
    padding: 8px;
   font-size: 18px;
   padding: 20px 14px 20px 14px;
  }
  
  .lan {
    display: flex;
    justify-content: space-between;
  }
  .lan span {
    display: flex;
  }
  .arr-icon {
    padding: 21px 2px 0px 0px;
  }
  